<nav class="navbar navbar-expand-lg navbar-light bg-light border shadow-sm">
  <div class="container">
    <a to="/" class="navbar-brand">
      <img src="../../assets/logo.png" class="ms-2" width="80" alt="Logo"/>
      <span class="light-blue-text">Car’n co</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div>
        <a
          class="navigation-item mx-2 d-block d-lg-inline-block">
          Home
        </a>
        <a
          class="navigation-item mx-2 d-block d-lg-inline-block">
          Pricing
        </a>
        <a
          class="navigation-item mx-2 d-block d-lg-inline-block">
          About us
        </a>
        <a
          class="navigation-item mx-2 d-block d-lg-inline-block">
          Contact us
        </a>
      </div>
    </div>
  </div>
</nav>
