<div class="row mt-3">
  <div class="col-md-1"></div>
  <div class="col-md-5 d-flex flex-column justify-content-center mb-5 text-center align-items-center text-md-start">
    <h1 class="w-75 dark-blue-text">More shared rides = less stupid traffic</h1>
    <div class="w-75">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti error expedita iste molestiae pariatur veniam vitae? A aliquid at blanditiis cupiditate distinctio dolor, ducimus eum expedita illum inventore, laudantium magnam natus nihil non odio odit officia officiis optio porro possimus, provident quos recusandae reiciendis sit suscipit vel vitae voluptatum? Soluta!
      <div class="d-block mt-3">
        <button type="button" class="primary-btn">
          Plan a ride!
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <img src="../../assets/illustration.png" class="w-100">
  </div>
  <div class="col-md-1"></div>
</div>

<div class="container mt-4">
  <h2 class="dark-blue-text">Read the ACT Carpool Guidelines</h2>
  <div class="row p-2 mt-3">
    <div class="col-md-4">
      <h3>Safe carpooling</h3>
      <p>In accordance with ACT Carpool guidance, we worked to ensure Carpool drivers protected both passengers and themselves. As cities began to reopen, we wanted to make sure we continued to do our part to keep everyone safe.</p>
    </div>
    <div class="col-md-4">
      <h3>Safe carpooling</h3>
      <p>In accordance with ACT Carpool guidance, we worked to ensure Carpool drivers protected both passengers and themselves. As cities began to reopen, we wanted to make sure we continued to do our part to keep everyone safe.</p>
    </div>
    <div class="col-md-4">
      <h3>Safe carpooling</h3>
      <p>In accordance with ACT Carpool guidance, we worked to ensure Carpool drivers protected both passengers and themselves. As cities began to reopen, we wanted to make sure we continued to do our part to keep everyone safe.</p>
    </div>
  </div>


  <h2 class="dark-blue-text">Details</h2>
  <div class="row p-2 mt-3">
    <div class="col-md-4">
      <fa-icon [icon]="faAddress" class="fs-1 light-blue-text"></fa-icon>
      <h4>Safe carpooling</h4>
      <p>In accordance with ACT Carpool guidance, we worked to ensure Carpool drivers protected both passengers and themselves. As cities began to reopen, we wanted to make sure we continued to do our part to keep everyone safe.</p>
    </div>
    <div class="col-md-4">
      <fa-icon [icon]="faAddressBook" class="fs-1 light-blue-text"></fa-icon>
      <h4>Safe carpooling</h4>
      <p>In accordance with ACT Carpool guidance, we worked to ensure Carpool drivers protected both passengers and themselves. As cities began to reopen, we wanted to make sure we continued to do our part to keep everyone safe.</p>
    </div>
    <div class="col-md-4">
      <fa-icon [icon]="faBoxOpen" class="fs-1 light-blue-text"></fa-icon>
      <h4>Safe carpooling</h4>
      <p>In accordance with ACT Carpool guidance, we worked to ensure Carpool drivers protected both passengers and themselves. As cities began to reopen, we wanted to make sure we continued to do our part to keep everyone safe.</p>
    </div>
  </div>
</div>
